.requestButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.plantationMainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.plantationTopContainer {
  flex-direction: row;
  flex: 1;
  display: flex;
}

.plantationLeftSubContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.plantationRightSubContainer {
  display: flex;
  flex: 1;
  justify-content: center;
}

.plantationBottomContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.ffbFormContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  min-height: 300px;
  justify-content: space-evenly;
}
.ffbFormContainer > * {
  margin-top: 10px;
}

.tableHeader {
  padding-top: 10px;
  padding-left: 30px;
}

.plantationInfoContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.changeNameContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  width: 100%;
}

.editButton {
  margin-left: 20px;
}

.addressContainer {
  margin-top: 20px;
  width: 100%;
  min-width: 380px;
}
